/* h2 + img {
  width: 40%;
  height: 350px;
} */

.mansion h2::after,
.cottage h2::after,
.building h2::after,
.funeral h2::after,
.recorder h2::after {
  padding: 2px 20px;
  background-color: red;
  color: white;
  font-weight: bold;
  top: -2%;
  position: absolute;
  left: -2%;
}

.mansion h2::after {
  content: "1";
}
.cottage h2::after {
  content: "2";
}
.building h2::after {
  content: "3";
}
.funeral h2::after {
  content: "4";
}
.recorder h2::after {
  content: "5";
}
