/* Containers */
.main--container {
  display: grid;
  width: 100%;
  row-gap: 75px;
}
.main--header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* NAV BAR */
.blog--menu {
  grid-row: 1;
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  padding: 1rem 2rem;
}
.nav--active {
  color: #3b5bdb;
}

/* LOGO SECTION */
.logo--container {
  padding: 1rem 2rem;
}
.logo--link {
  text-decoration: none;

  color: #000;
}
.logo--span--1,
.logo--span--2 {
  color: #3b5bdb;
}

/* In case we need to change this one separately */

/* .logo--span--2 {
  color: cyan;
} */
