* {
  box-sizing: border-box;
}
.container--age,
.container--height,
.container--weight,
.container--bmi,
.container--gender,
.container--lifestyle,
.container--goals,
.container--calories,
.container--protein {
  position: relative;
  /* display: block; */
}
.container--lifestyle {
  grid-column: 2;

  border-radius: 25px;
  padding-bottom: 15px;
}
.select-lifestyle {
  width: 250px;
}
.container--main {
  margin: 0 auto;
  width: 50%;
  padding: 15px 30px;
  /* grid-template-columns: 1fr 1fr; */
  display: grid;
  border-radius: 25px;
  position: relative;
}
.container--goals {
  padding: 0px 15px;
}
.container--age h3,
.container--height h3,
.container--weight h3,
.container--bmi h3,
.container--gender h3,
.container--goals h3,
.container--lifestyle h3,
.container--calories h3,
.container--protein h3 {
  padding: 5px 9px;
  background-color: #fff;
  color: #3b5bdb;
  font-size: 1.5rem;
}
.container--age h3 {
  border-top: 0px;
}
h1 {
  text-align: center;
  grid-column: 1/-1;
}
.container--name {
  text-align: center;
  grid-row: 2;
  grid-column: 1/-1;
}
.container--name h3 {
  background-color: #fff;
  border-top: 0;
  border-bottom: 0;
  color: #000;
}
.user--greet {
  text-align: start;
  padding-left: 15px;
  color: #3b5bdb;
}
.flex--weight-range {
  display: flex;
  align-items: center;
  gap: 5px;
}

.span-weight--data {
  color: #35d;
}
.input--feet,
.input--inches,
.input--age,
.input--user-weight {
  width: 25%;
}

/* Perfect settings for Firefox, fix for chrome  */
/* .label--feet,
.label--inches,
.label--weight {
  color: #888;
  position: absolute;
  top: 40px;
}
.label--feet {
  left: 160px;
}
.label--inches {
  left: 340px;
}
.label--weight {
  left: 120px;
} */

.label--feet,
.label--inches,
.label--weight {
  position: absolute;
}
.label--feet,
.label--inches,
.label--weight {
  top: 42px;
  color: #888;
}

.label--feet {
  left: 170px;
}
.label--inches {
  left: 310px;
}
.label--weight {
  left: 150px;
}
.bmi--summary {
  display: inline-block;
}
.option--no-entry {
  text-align: center;
}

.weight-range--summary,
.bmi--summary {
  padding: 0px 13px;
}
.container--home-radios {
  display: none;
}

.btn--save-age,
.btn--edit-age,
.btn--save-gender,
.btn--edit-gender,
.btn--save-height,
.btn--edit-height,
.btn--save-weight,
.btn--edit-weight,
.btn--save-lifestyle,
.btn--edit-lifestyle,
.btn--save-goals,
.btn--edit-goals {
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.btn--edit-home-containers {
  position: absolute;
  top: 15px;
  right: 35px;
  border: 0;
  color: #3b5bdb;
  background-color: #fff;
  cursor: pointer;
  width: 30px;
  font-size: 1rem;
  z-index: 999;
}
.btn--edit-home-containers:hover {
  color: #2041c6;
}
/* BTN BEFORE SAVE */
.btn--save-age,
.btn--save-height,
.btn--save-weight,
.btn--save-gender,
.btn--save-lifestyle,
.btn--save-goals {
  top: 15px;
  right: 25px;
}
.btn--edit-age,
.btn--edit-height,
.btn--edit-weight,
.btn--edit-gender,
.btn--edit-goals,
.btn--edit-lifestyle {
  top: 15px;
  /* right: 55px; */
  right: 55px;
}
/* BTN AFTER SAVE */
/* .btn--save-age {
  top: 15px;
  right: 25px;
}
.btn--edit-age {
  top: 15px;
  right: 55px;
} */
.hidden {
  display: none;
}

.btn--calculate {
  margin: 0 auto;
}

.bmi--info {
  margin: 0 auto;
  z-index: 100;
  grid-row: 1;
  grid-column: 1/-1;
  border-radius: 25px;
  /* width: 80%; */
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.container--questions {
  position: relative;
  border-radius: 25px;
  padding: 0px 15px;
  padding-bottom: 60px;
  z-index: 1;
}

.logo--title {
  text-align: center;
  background-color: #fff;
  color: #3b5bdb;
}
.container--login {
  /* border: 1px solid black; */
  border-radius: 25px;
  padding-bottom: 5px;
}
.container--ahwkg {
  display: none;
}
.form-enter-ahwkg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 0.5fr);
  column-gap: 10px;
  row-gap: 15px;
}
.form-enter-ahwkg {
  text-align: center;
  padding: 0px 15px;
}
.btn--save-user-stats {
  width: 50%;
  height: 25px;
  grid-column: 1/-1;
  margin: 0 auto;
}
.container--age,
.container--gender,
.container--goals,
.container--height,
.container--weight,
.container--bmi,
.btn--calculate,
.container--calories,
.container--protein {
  /* grid-column: 1; */
  border-radius: 25px;
  padding-bottom: 15px;
}
.container--age,
.container--lifestyle,
.container--goals,
.container--gender,
.container--height,
.container--weight,
.container--bmi,
.container--calories,
.container--protein {
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
  border: 0px;
}
.container--gender,
.container--weight {
  grid-column: 2/3;
}
.container--bmi {
  grid-column: 1/-1;
  grid-row: 5;
}

.post-calculate {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.container--results {
  grid-column: 2;
  grid-row: 1/4;
}

.list {
  padding-left: 0;
}
.list--vigorously-active {
  padding-left: 18px;
}
